@font-face {
  font-family: 'Godof';
  src: url("../../font/GODOFWAR.TTF");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hobo';
  src: url("../../font/HoboStd.otf");
  font-weight: normal;
  font-style: normal; }

.ligne {
  clear: both; }

body {
  background-color: lightcyan;
  font-family: sans-serif; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: lightgrey;
  box-shadow: 5px 5px 5px black; }
  header img {
    width: 100%;
    max-width: 500px;
    z-index: 11;
    margin-bottom: 0px;
    max-height: 90px; }
  header button {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 20px;
    margin-right: 5px;
    margin-top: 5px;
    border: 2px solid white;
    float: right; }
    header button a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 3em;
      line-height: 32px; }

nav {
  text-align: center;
  margin-top: 120px; }
  nav button {
    width: 300px;
    height: 25px;
    background-color: #c1c1c1;
    border-radius: 7px;
    box-shadow: 3px 3px 3px black;
    margin-bottom: 10px; }
  nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    line-height: 16px; }

#connection {
  width: 350px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px; }
  #connection h1 {
    margin-bottom: 10px; }
  #connection label {
    margin-bottom: 10px; }
  #connection input[type=text] {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    box-shadow: inset 3px 3px 3px black;
    padding-left: 10px;
    margin-bottom: 10px; }
  #connection input[type=file] {
    height: initial;
    border-radius: initial;
    box-shadow: initial;
    padding-left: initial;
    margin-top: 10px;
    margin-bottom: 30px; }
  #connection textarea, #connection select {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    box-shadow: inset 3px 3px 3px black;
    padding-left: 10px;
    margin-bottom: 10px; }
  #connection button {
    width: 300px;
    height: 25px;
    background-color: #c1c1c1;
    border-radius: 7px;
    box-shadow: 3px 3px 3px black;
    margin-bottom: 10px; }
  #connection #telechargement {
    margin-top: 25px; }
