@font-face {
font-family: 'Godof';
src: url('../../font/GODOFWAR.TTF');
font-weight: normal;
font-style: normal;
}

body
{
    width:100vw;
    
}
@import "_partials/styles.scss";
@import "_partials/form.scss";
//@import "_partials/portable.scss";
